@import 'src/assets/shared/_mixins';
@import 'src/assets/shared/_variables';
@import 'src/assets/shared/_shared';


.planet-container {
  background-color: $main-background;
  height: 100%;

  .edit-btn {
    @include planets-btn($greenDark);
    margin-right: 1rem;
  }

  .delete-btn {
    @include planets-btn($blueDark)
  }

  .planet-info-grid {
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;


    .planet-info-box {
      background-color: $header-background;
      padding: 2rem;
      @include flex(column, center, center, null, null);
    }

    .name-description {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: $header-background;
      @include flex(row, center, center, 1rem, null);

      .planet-avatar {
        width: 200px;
        height: 200px;
        @include flex(row, center, center, null, null);
      }

      .description {
        width: 300px;
        @include flex(column, flex-start, flex-start, null, null);
      }

    }
  }
}

@media only screen and (max-width: 900px) {
  .planet-container {
    .planet-info-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}

@media only screen and (max-width: 450px) {
  .planet-container {

    .planet-info-grid {
      grid-template-columns: repeat(1, 1fr);

      .name-description {
        @include flex(column, center, center, 1rem, null);

        .description {
          width: 300px;
          @include flex(column, center, center, null, null);
        }
      }
    }
  }

}



