<div class="planet-container" *ngIf="planet$ | async; let planet" >
    <div class="planets-header">
        <h1>{{planet.planetName}}</h1>
        <div class="header-tools">
            <button mat-flat-button class="edit-btn" color="primary" (click)="editPlanet(planet)">Edit</button>
            <button mat-flat-button  class="delete-btn" color="primary">Delete</button>
        </div>
    </div>
<div class="planet-info-grid" style="display:grid; gap:1rem">
    <div class="planet-info-box name-description box1">
        <ngx-avatar src="{{planet.imageUrl}}"
                    value="{{planet.imageName}}"
                    size="160" [round]="true"
          class="planet-avatar">
        </ngx-avatar>
        <div class="description">
            <h1 class="heading">{{planet.planetName}}</h1>
            <p class="paragraph"> {{planet.description}}</p>
        </div>
    </div>
    <div class="planet-info-box">
        <h2 class="heading">{{planet.planetRadiusKM}}</h2>
        <p class="paragraph">Radius in km</p>
    </div>
    <div class="planet-info-box">
        <h2 class="heading">{{planet.distInMillionsKM.fromSun}}</h2>
        <p class="paragraph">Dist. from sun</p>
    </div>
    <div class="planet-info-box">
        <h2 class="heading">{{planet.planetColor}}</h2>
        <p class="paragraph">Color</p>
    </div>
    <div class="planet-info-box">
        <h2 class="heading">{{planet.distInMillionsKM.fromEarth}}</h2>
        <p class="paragraph">Dist. from Earth</p>
    </div>
</div>
</div>