<div class="popup-container">

    <span> <mat-icon style="font-size: 70px" class="warning-icon">priority_high</mat-icon></span>

    <h1>Confirm {{planet['mode']}}</h1>
    <p >Are you sure you want to {{planet['mode']}} <span style="font-weight: 800">{{planet['planet'].planetName}}</span>?</p>
    <div class="dialog-btn">
        <button mat-flat-button class="save-btn" color="primary" (click)="confirm()">Confirm</button>
        <button mat-flat-button class="cancel-btn"(click)="cancel()">Cancel</button>
    </div>
</div>

