@import 'src/assets/shared/_mixins';
@import 'src/assets/shared/_variables';
@import 'src/assets/shared/_shared';
.planets-main {
  background-color: $main-background;
   .header-tools {
      .planets-icon{
        color:$greenDark;
      }
      .btn-icon:focus {
        background-color: $greenLight;
        border-radius: 0;
        .planets-icon{
          color: rgba(32, 82, 105);
        }
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        height: 38px !important;
        padding: 0 !important;

        .mat-form-field-infix{
          //align-items: center !important;
          border-top: 0 !important;
        }
      }

      @include flex(row, space-between, center, 1rem, wrap);
      .create-btn-wrapper{
        padding-top: 4px;
      }
      .planets-btn{
        @include planets-btn($PurpleDark)
      }
    }


}