<div class="planets-main">
    <div class="planets-header">
        <h1>Planets</h1>
        <div class="header-tools">
            <div class="btn-wrapper">
                <button mat-icon-button class="btn-icon">
                    <mat-icon class="planets-icon" style="font-size: 21px" (click)="changeView('grid')">grid_view</mat-icon>
                </button>
                <button mat-icon-button class="btn-icon" (click)="changeView('table')">
                    <mat-icon class="planets-icon">view_list</mat-icon>
                </button>
            </div>

            <mat-form-field class="mat-form-field" appearance="outline" [formGroup]="searchForm" floatLabel="never">
                <input  type="text" matInput formControlName="search"
                       placeholder="Search...">
                <mat-icon class="planets-icon" matPrefix>search</mat-icon>
            </mat-form-field>
            <div class="create-btn-wrapper">
                <button mat-flat-button class="planets-btn" color="primary">Create</button>
            </div>

        </div>

    </div>
    <ng-container *ngIf="view === 'grid'">
        <app-planets-grid ></app-planets-grid>

    </ng-container>
    <ng-container>
        <app-planets-table *ngIf="view === 'table'"></app-planets-table>

    </ng-container>
</div>
