<div class="planets-grid-wrapper">
    <div class="planets-grid-container">
        <div class="planet" *ngFor="let planet of (planets$ | async)" (click)="navigateTo(planet.id)">
            <ngx-avatar src="{{planet.imageUrl}}"
                        value="{{planet.imageName}}"
                        size="90" [round]="true">
            </ngx-avatar>
            <h1>{{planet.planetName}}</h1>
            <div class="planet-description">
                <p class="paragraph">{{planet.description}}</p>
            </div>
            <div class="planet-data">
                <div class="data-item">
                <span>
                     <h3>{{planet.planetColor}}</h3>
                      <p class="paragraph">Color</p>
                </span>
                    <span>
                      <h3>  {{planet.distInMillionsKM.fromSun}}</h3>
                       <p class="paragraph"> Dist. from Sun</p>
               </span>

                </div>
                <div class="data-item">
                <span>
                    <h3>    {{planet.planetRadiusKM}}</h3>
                     <p class="paragraph"> Radius in km</p>
                </span>
                    <span>
                    <h3>   {{planet.distInMillionsKM.fromEarth}}</h3>
                    <p class="paragraph">  Dist. from Earth</p>
                </span>
                </div>


            </div>

        </div>
    </div>
</div>
