<div class="dialog-container">
    <h2>{{planet ? 'Edit planet' : 'Create planet'}}</h2>
    <form [formGroup]="form" class="planets-form">
        <div class="photo-upload">
            <mat-label>Photo</mat-label>
            <input matInput disabled>
            <button mat-flat-button color="primary" class="browse-btn" (click)="fileInput.click()">Browse</button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
        </div>
        <mat-form-field appearance="outline" floatLabel="always" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="planetName" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required rows="5"></textarea>
        </mat-form-field>
        <div class="form-row">
            <span>
            <mat-form-field appearance="outline" class="half-width" floatLabel="always">
                  <mat-label>Radius in km</mat-label>
                <input matInput formControlName="planetRadiusKM" required>
            </mat-form-field>
                </span>
            <span>
            <mat-form-field appearance="outline" class="half-width" floatLabel="always">
                      <mat-label>Color</mat-label>
                <input matInput formControlName="planetColor" required>
            </mat-form-field>
                </span>
        </div>
        <div class="form-row">
            <span>
            <mat-form-field appearance="outline" class="half-width" floatLabel="always">
                    <mat-label>Dist. from Sun</mat-label>
                    <ng-container formGroupName="distInMillionsKM">
                          <input matInput formControlName="fromSun" required>
                </ng-container>

            </mat-form-field>
                </span>
            <span>
            <mat-form-field appearance="outline" class="half-width" floatLabel="always">
                            <mat-label>Dist. from Earth</mat-label>
                <ng-container formGroupName="distInMillionsKM">
                          <input matInput formControlName="fromEarth" required>
                </ng-container>
            </mat-form-field>
                </span>
        </div>
    </form>
    <div class="dialog-btn">
        <button mat-flat-button class="save-btn" color="primary" (click)="saveChanges()">Confirm</button>
        <button mat-flat-button class="cancel-btn" (click)="closeDialog()">Cancel</button>
    </div>
</div>
