@import 'src/assets/shared/_mixins';
@import 'src/assets/shared/_variables';
@import 'src/assets/shared/_shared';

.photo-upload {
  @include flex(row, space-between, center, null, null);
  width: 450px;
  margin-bottom: 1rem;
  & button{
    @include planets-btn($fontGray)
  }
}

.planets-form {
  @include flex(column, flex-start, flex-start, null, null);
   & mat-label{
     color:$fontGray;
   }
  .full-width {
    min-width: 450px;
  }

  .half-width {
    min-width: 212px;
  }

  .form-row {
    min-width: 450px;
    @include flex(row,space-between, center, null, null);
  }
}


.mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
  border-top-width: 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.mat-form-field-label-wrapper {
  padding-top: 0px;
}

@media only screen and (max-width: 620px) {
  .photo-upload {
    width: 350px;

  }
  .planets-form {

    .full-width {
      min-width: 350px;
    }

    .half-width {
      min-width: 350px;
    }

    .form-row {
      min-width: 350px;
      @include flex(column,space-between, center, null, null);
    }
  }

}

