$main-background: rgba(235, 237, 239);
$header-background:rgba(255, 255, 255);

$greenDark:rgba(32,82,105);
$greenLight:rgba(231, 237, 240);
$PurpleDark: rgba(76,57,111);
$fontGray: rgba(156,156,156);
$blueDark: rgba(10,32,73);