@import "../../shared/shared.style.scss";

form {
  //   max-width: 450px;
  margin: 0 auto;
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .small {
    width: 240px;
  }

  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  label {
    line-height: 0;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 200;
  }
  .input-group {
    @include flex(row, space-between, center, 1rem, wrap);
  }
  .btn-group {
    margin-top: 2rem;
    @include flex(row, center, center, 1rem, wrap);
  }
}
